//cor

$azul: #13e1d6;
$roxo: #5c16ff;
$laranja: #fbb03b;
$rosa: #e11e44;
$preto: #000;
$cinza: #ccc;

//text
$menu: 12pt;
$menu_phone: 9pt;
$titulo_grande: 12pt;
$titulo_grande_phone: 9pt;
$text_pc: 10pt;
$text_phone: 8pt;
