@import "variables";
@import "reset";

//imagem de apresentacao
#overlay {
    background-image: url(imagens/inicio.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: auto;
    left: auto;
    z-index:9001;
    display: flex;
    justify-content: center;
    align-items: center;
}
#seta{
  position: fixed;
  bottom: 0px;
  left: 45vw;
  width: 8vh;
  padding: 20px;
}
#fbaup{
  width: 35vw;
}


//pagina inicial

body{
  font-family: 'Helvetica', sans-serif;
  font-size: $text_pc;
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: center center;
}

#home {
  height: 50px;
  position: absolute;
  margin-left: 2%;
  margin-top: 2%;
}

a{
  text-decoration: none;
  color: #000;
}

#menu{
    font-size: $menu;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    transform: rotate(270deg);
    transform-origin: left top 0px;
    position: fixed;
    bottom: 2%;
    margin-left: 3%;
    width: 35%;
}

#menu li{
  margin-left: 25px;
}
//mudar a cor do traço no menu

#line_cursos:hover{
    border-bottom: solid 4px $azul;}

#line_escola:hover{
    border-bottom: solid 4px $laranja;}

#line_eventos:hover{
    border-bottom: solid 4px $roxo;}

#line_contactos:hover{
    border-bottom: solid 4px $rosa;}

#line_on_cursos{
  border-bottom: solid 4px $azul;}

#line_on_escola{
  border-bottom: solid 4px $laranja;}

#line_on_eventos{
  border-bottom: solid 4px $roxo;}

#line_on_contactos{
  border-bottom: solid 4px $rosa;}

#traducao{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 2%;
}

#traducao a{
  background-color: #000;
  color: #fff;
  padding: 5px;
}


#destaques{
  margin: 0px  15% 10% 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#imagem_destaque img{
  width: 61vw;
  height: 25vw;
}

.titulo_destaque{
  margin-top: 1vw;
  width: 59vw;
}

.titulo{
  width: 15vw;
  height: 60px;
  margin-top: 1vw;
}

.imagem img{
  width: 14vw;
  height: 14vw;
}

.imagem{
  position: relative;
}



//cursos

#caixas_cursos{
  font-size: $titulo_grande;
  font-weight: bold;
  color: #fff;
  padding: 5px;
}

#lic{
  background-color: $roxo;
  height: 20vw;
  width: 20vw;
  position: absolute;
  top: 10vw;
  right: 51vw;
  padding: 10px;
}

#mes{
  background-color: $laranja;
  height: 15vw;
  width: 15vw;
  position: absolute;
  top: 35vw;
  right: 51vw;
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

#dou{
  background-color: $cinza;
  height: 25vw;
  width: 25vw;
  position: absolute;
  top: 20vw;
  left: 51vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
}

#lic:hover{
  width: 22vw;
  height: 22vw;
  top: 8vw;
}

#mes:hover{
  width: 17vw;
  height: 17vw;
}

#dou:hover{
  width: 27vw;
  height: 27vw;
}

#cursos_lista {
  position: absolute;
  top: 100%;
  margin-left: 29vw;
}

  //lista de licenciaturas
h3 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 400px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#licenciaturas{
  background-color: $roxo;
}

#mestrados{
  background-color: $laranja;
}

#doutoramentos{
  background-color: $cinza;
}


//eventos

#eventos{
  margin-left: 20%;
  margin-top: 15%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#lista_eventos{
   display: flex;
   flex-direction: row;
}

#lista_eventos li{
  padding: 3px;
}



.extra{
  display: none;
}

.evento{
  margin: 0px 1vw 5vw 0px;
  border-right: solid 6px $rosa;
  padding-right: 3vw;

&:hover .extra{
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}
}

//escola
h4{
  font-weight: bold;
  font-size: 14pt;
  line-height: 170%;
}

#escola {
 position: absolute;
 margin-left: 20%;
 margin-top: 25vh;
}

#icons{
  position: absolute;
  top: 35vh;
  margin-left: 55vw;
  width: 300px;
  height: 300px;
}


//contactos

iframe{
  height: 25vw;
  width: 25vw;
  position: absolute;
  top: 10vw;
  right: 45vw;
  padding: 10px;
}

#contactos{
  width: 150px;
  height: 150px;
  margin-left: 20%;
  padding: 30px 15px 10px 25px;
  background-color: $azul;
  position: absolute;
  top: 25vw;
  left: 36vw;
}

.info_titulo{
  font-weight: bold;
  font-size: 9pt;
  padding-top:10px;
}

#morada{
  background-color: $laranja;
  width: 130px;
  height: 130px;
  margin-left: 20%;
  padding: 35px 15px 5px 25px;
  position: absolute;
  top: 38vw;
  right: 46vw;
}


@media screen and (max-width: 1024px) {
  //ecras de tablets portrait

  //cursos
  #lic{
    top: 30vw;
  }

  #mes{
    top: 55vw;
  }

  #dou{
    top: 40vw;
  }

  #lic:hover{
    top: 28vw;
  }

  #caixas_cursos{
    font-size: $titulo_grande_phone;
  }

  //contactos

  #morada{
    top: 53vw;
  }

  #contactos{
    top: 40vw;
  }

  iframe{
    top:25vw;
  }

}
@media screen and (max-width: 765px) {
  //telemoveis
  #home {
    height: 30px;
    margin-left: 3%;
    margin-top: 3%;
  }

  #traducao{
    font-size: $menu_phone;
    padding: 5%;
  }

  #menu{
    bottom: 1%;
    font-size: $menu_phone;
  }


  //escola

  h4{
    font-size: 11pt;
  }

  #icons{
    top: 45vh;
    width: 200px;
    height: 200px;
  }

  //contactos
  #contactos{
    font-size: $text_phone;
  }
}

@media screen and (max-width: 500px) {

  #icons{
    display: none;
  }

}
